body {
    font-family: Arial, sans-serif;
    background-color: #001F3F;
    color: #81c4ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #04233f;
    text-align: center;
    padding: 1em 0;
  }
  
  header h1 {
    color: #1190ff;
  }
  
  nav a {
    color: #7cc2ff;
    margin: 0 15px;
    text-decoration: none;
    } 
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
  }
  
  .navbar {
    background-color: #06345d;
    padding: 10px;
    text-align: center;
  }
  
  .nav-link {
    color: #7cc2ff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #1190ff;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
  
  #nossos-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .service {
    background-color: #003F5F;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
  }
  
  .service img {
    height: 50px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #02111f;
    color: gray;
    text-align: center;
    padding: 20px;
    }
    .section {
        text-align: center;
        color: white;
    }
    
    .btn {
        background-color: #008eb9;
        color: white;
        border: none;
        padding: 10px 20px;
        margin: 10px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
    }
    
    .btn:hover {
        background-color: white;
        color: black;
    }
    footer p {
        margin: 10px 0;
    }
  
    .subtitle{
      margin: ;
    }